html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  /* The map needs some height to become visible */
  height: 600px;
  margin: 20px 0;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

.star-icon {
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}