html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
    width: 100%;
    /* The map needs some height to become visible */
    height: calc(100% - 50px);
  }

h1 {
  text-align: center;
  margin: 10px 0;
}

.star-icon {
  width: 40px;
  height: 40px;
  /* Center the star within the div */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust the positioning relative to the actual location point */
  margin-left: -20px;  /* equivalent to iconAnchor[0] */
  margin-top: -20px;   /* equivalent to iconAnchor[1] */
}

.star-icon + .leaflet-popup {
  margin-bottom: 20px; /* equivalent to popupAnchor[1] */
}